h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
input,
select,
textarea{
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
  display: block;
}
legend,
caption{
  overflow: hidden;
  width: 0px;
  height: 0px;
  font-size: 3px;
  line-height: 0;
  text-indent: -9999px;
  color: transparent;
  clip: rect(0px 0px 0px 0px);
  opacity: 0;
  text-indent: -9999rem;
  overflow: hidden;
}
li{
  list-style: none;
}
pre{
  white-space: pre-line;
}
table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a[href*=tel]{
  cursor: default;
}
button,
input[type=button]{
  border: none;
  background: none;
  cursor: pointer;
  letter-spacing: inherit;
  padding: 0;
  color: inherit;
}
optgroup,
pre{
  font-family: inherit;
}
i,
em{
  font-style: normal;
}
hr{
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}
sub{
  vertical-align: 0;
}
iframe,
textarea{
  width: 100%;
}
select,
input,
button,
img,
iframe{
  vertical-align: middle;
}
select,
input,
textarea,
button,
optgroup{
  font-family: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
}
option:disabled,
input:disabled,
button:disabled{
  background: inherit;
  color: inherit;
}
button:disabled,
a.disabled{
  -webkit-tap-highlight-color: transparent;
}